@import "styles/components/_text.scss";
@import "styles/components/_page-spacing.scss";

.o__notify-modal {
  h1 {
    @extend %main-title;
  }

  p {
    @extend %label-text;
    margin-bottom: $general-padding;
    text-align: center;
  }
  &__button {
    text-align: center;

    .a__base-button {
      width: 70px;
    }
  }
}
