@import "styles/helpers/_flex.scss";
@import "styles/components/_text.scss";
@import "styles/components/_page-spacing.scss";
@import "styles/layout/_break-points.scss";

.o__header {
  height: $header-height;
  padding: 8px 16px;
  background-color: var(--white);
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
  box-sizing: border-box;
  text-align: right;

  @extend %flex-space;
  align-items: center;
  flex-wrap: wrap;

  @media screen and (min-width: $screen-lg) {
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  &__titles {
    width: 100%;
    @extend %flex-space;

    @media screen and (min-width: $screen-lg) {
      width: 80%;
      justify-content: flex-start;
    }
  }

  img {
    width: 120px;

    @media screen and (max-width: $screen-lg) {
      width: 80px;
    }
  }

  h1 {
    @extend %main-title;
    margin-left: 50px;

    @media screen and (max-width: $screen-lg) {
      width: 140px;
      font-size: $medium-font-size;
    }
  }
  &__nav {
    @extend %flex;

    @media screen and (max-width: $screen-lg) {
      width: 100%;
      justify-content: center;
    }

    .a__base-button {
      width: 100px;
      font-size: $medium-font-size;
    }

    a:nth-child(2) {
      margin-left: 20px;

      @media screen and (max-width: $screen-lg) {
        width: 100%;
      }
    }
  }
}
